.soundwhere-meta-line {
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 12px;
  font-size: 1.8rem;
  line-height: 1.6;
  padding: 8px;
  border-radius: 4px;

  &.red {
    border: 1px solid rgba(255, 0, 0, 0.4);
  }

  &.green {
    border: 1px solid rgba(0, 255, 0, 0.4);
  }

  &.blue {
    border: 1px solid rgba(0, 0, 255, 0.4);
  }

  .name {
    text-align: center;
    font-weight: bold;
  }

  .value {
    overflow: scroll;
    white-space: nowrap;
  }
}
