@use "src/util/Common";

.soundwhere-upload-page {
  display: grid;
  grid-template-rows: minmax(0, 1fr) min-content;
  grid-template-columns: 2fr 3fr;
  gap: 24px 24px;

  width: 100%;
  height: 100%;
  padding: 20px 36px;

  .file-list {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    display: grid;
    grid-template-rows: min-content minmax(0, 1fr);
  }

  .detail {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
  }
  
  .global-info {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    
  }

  .uploader {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
  }

}
